<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>trans</title>
</head>

<style>

    body 
    
    {
    
        background-image:url('http://pic1.win4000.com/wallpaper/2018-06-15/5b236a15bcfc1.jpg');
    
        background-color:#cccccc;
    
    }
    
    </style>

<body>
<h2>添加到库存</h2>

<form method='POST'>{% csrf_token %}
<p>请输入信息</p>
<p>
    <label for="i">进货编号:</label>
    <input name='incomeid',id='i' value="{{ aimbook.incomeid }}">
</p>
<p>
    <label for="pr">零售价:</label>
    <input name='price',id='pr' >
</p>

<p>
    <button type="submit">确定提交</button>
</p>
</form>
<div>
    <a href="{%url 'mainpage'%}">回到主页</a>
    </div>
</body>
</html>



